<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-client_id" content="853566220918-6rf0l78i8lbvlfjkfbn4vl35fodsvmha.apps.googleusercontent.com">
    <base href="{{ base_path() }}/"/>
    <link rel="shortcut icon" href="icons/favicon.ico">
    <title>{{ title|default('Slim Application') }}</title>
    {% webpack_entry_css 'layout/layout' %}
    {% block css %}{% endblock %}
    {% webpack_entry_js 'layout/layout' %}
    
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

</head>
<body>
<!-- Navbar -->
{% include 'layout/navbar.twig' %}
<!-- Content -->
{% block content %}{% endblock %}
{% block js %}{% endblock %}

<script>
        function onLoad() {
            gapi.load('auth2', function() {
                gapi.auth2.init();
            });
        }

        function logout(){
            spinner.showLoading();
            var auth2 = gapi.auth2.getAuthInstance();
            console.log(auth2);
            auth2.signOut().catch(err => {
                    console.log(err);
                    spinner.hideLoading();
                });
        }
</script>


</body>
</html>
